@media (max-width:990px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  .btn {
    margin-top: 1rem;
  }
}

@media (max-width:768px) {
  .header-section {
    .navbar-section {
      .navbar {
        position: absolute;
        top: -10rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }
      #menu-icon {
        display: initial;
      }
      #menu-icon.fa-times {
        transform: rotate(180deg);
      }
      .navbar.active {
        top: 8rem;left: 0; right: 0;
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        a{
          display: block;
          margin-left: 0;
          padding: 2rem;
        }
      }
    }
    &__home {
      h1 {
        font-size: 5rem;
      }
      p {
        padding: 2rem 5rem;
      }
      .location {
        margin: 0;
      }
    }
  }
  .services {
    background-position: left;
  }
  .contact {
    .contact-section {
      gap: 2em;
      .box {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header-section {
    &__home {
      h1 {
        font-size: 3.8rem;
      }
      p{
        padding: 2rem;
      }
      .location {
        input {
          margin-top: 1rem;
          width: 100%;
        }
      }
    }
  }
  .fun-facts {
    .facts-row {
      .facts-item {
        margin-top: 10rem;
      }
    }
  }
}